apiVersion: v1
kind: Service
metadata:
  labels:
    app: api-test
  name: api-test
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: api-test
  type: ClusterIP
status:
  loadBalancer: {}
